Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Integrantes/Daniel/BP_CharacterMouse.uasset
Content/Integrantes/Jairo/powerUps/poti-invisible/BP_Pocion_Invisibilidad.uasset
